.home {
  padding: 60px;
  padding-bottom: 20px;
}

.home-page-title {
  padding: 20px;
}

.hm-card {
  min-width: 300px;
  margin: 10px;
}

.hm-card-title {
  font-size: 1.5em;
  font-weight: 400;
}

.display-4{font-weight:300;line-height:1.2}
.display-4{font-size:3.5rem}
.lead{font-size:1.25rem;font-weight:300}
