.hm-btn-icon {
  color: #28a745;
}

.hm-btn-icon-danger {
  color: #dc3545;
}

.hm-btn:hover {
  *.hm-btn-icon {
    color: #ffffff;
  }
  *.hm-btn-icon-danger {
    color: #ffffff;
  }
}

.hint-error {
  color: #dc3545 !important;
}
