<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                Limited number of recently uploaded images available in gallery
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                Limited number of recently uploaded videos available in gallery
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                No credit card details required
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                Email optimized photos
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                One (1) public URL to your gallery
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                Full control over uploaded content
              </li>
<!--              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>-->
            </ul>
            <a [href]="'#/signup/subscribe/free'" role="button" class="btn btn-outline-success hm-btn-pricing text-success">Subscribe</a>
          </div>
        </div>
      </div>
      <!-- Personal Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Personal</h5>
            <h6 class="card-price text-center">$4.95<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                All uploaded images available in gallery
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                All uploaded videos available in gallery
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                Email optimized photos
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                One (1) public URL to your gallery
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                Full control over uploaded content
              </li>
              <!--              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>-->
            </ul>
            <a [href]="'#/signin/subscribe/personal'" role="button" class="btn btn-outline-success hm-btn-pricing text-success">Subscribe</a>
<!--            <button type="button" class="btn btn-outline-success hm-btn-pricing text-success disabled" disabled>Coming Soon</button>-->
          </div>
        </div>
      </div>
      <!-- Business Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Business</h5>
            <h6 class="card-price text-center">$8.95<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                All benefits of "Personal" plan
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                Multiple public URLs
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                Multiple image and video galleries
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                Specify your own "time lock" for gallery/url
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                Collect feedback from your gallery viewers
              </li>
              <li>
                <span class="fa-li">
                  <i class="fas fa-check"></i>
                </span>
                Full control over uploaded content
              </li>
              <!--              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>-->
            </ul>
<!--            <a [href]="'#/signin/subscribe/business'" role="button" class="btn btn-outline-success hm-btn-pricing text-success">Subscribe</a>-->
            <button type="button" class="btn btn-outline-success hm-btn-pricing text-success disabled" disabled>Coming Soon</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
