


<div class="container home">
  <div class="row">
    <div class="col text-center">
      <h3>About</h3>
      <h6 class="underline">&nbsp;</h6>
      <p>
        Photographers have always found ways to share their work, and inspiration with each other.
        Now, digital photography is overtaking the world, thanks to our mobile phones and tens of millions of digital images and videos are produced, and some of them tend to be shared with others.
        People needed a place online that is tailor-made for them.<br/>
        So we build HappyMarcel—for you.<br/>
        Since day zero, our goal was to provide easy and intuitive way to share your digital content.<br/>
        HappyMarcel was build by family for families .
      </p>
    </div>
  </div>
</div>
