.hm-theme .mat-toolbar.mat-primary {
  background: #ffffff !important;
}

.hm-theme mat-sidenav-container .footer {
  color: #ccc;
  background-color: #efefef;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}

.container,
.fas {
  color: #2c3e50;
}
